////////////////////////////
// Dashboard LIST STYLE
.c-dashboard {
    margin: 8px 16px;
  
    &__header {
      display: flex;
      justify-content: center;
    }
  
    &__footer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  ////////////////////////////
  // Filters LIST STYLE
  .c-filters__container {
    margin: 0 0 8px;
    padding: 16px 8px;
    border: 1px solid #dcdee3;
    background-color: #e5e9f1;
  }